body {
	margin: 0;
	padding: 0;
}

#map-container {
	width: 400px;
	margin: 0 auto;
	float: left;
}

#details-container {
	width: 400px;
	height: 400px;
	float: left;
	text-align: center;
}

#text-data {
	height: 150px;
	margin: 0 auto;
}

#chart-data {
	height: 250px;
	margin: 0 auto;
}

#buidling-chart {
	margin: 0 auto;
}

#map-container, #details-container, #text-data, #chart-data {
	border: 1px solid black;
}

circle.datapoint {
	stroke-width: 1;
	stroke: dodgerblue;
	fill: dodgerblue;
}

text.datapoint, #y-axis-label {
	font-family: Lato, Helvetica, Ariel, sans-serif;
	font-weight: 300;
	/*fill: black;*/
	font-size: 12px;
	text-anchor: middle;
}

#detail-g > text {
	font-family: Lato, Helvetica, Ariel, sans-serif;
	font-weight: 300;
	fill: black;
	font-size: 16px;
	text-anchor: middle;
}

#xAxisG text {
	font-family: Lato, Helvetica, Ariel, sans-serif;
	font-weight: 300;
	fill: black;
	font-size: 16px;
	text-anchor: middle;
}

#xAxisG path {
	fill: none;
	stroke: none;
}

